@media(max-width:700px){
    .site-header{
        padding:0 5vw;
    }
    .site-header nav a:not(.nav-button){
        display:none;
    }.container{
        width:min(90vw,1120px);
        padding:38px 0;
    }
    .hero,
    .content-grid{
        grid-template-columns:1fr;
    }
    .hero-card{
        display:none;
    }
    .features{
        grid-template-columns:1fr;
    }
    .page-heading{
        align-items:start;
        flex-direction:column;
    }
    .stats{
        grid-template-columns:1fr;
    }
    .form-card,
    .detail-card{
        padding:27px 22px;
    }
    .form-grid{grid-template-columns:1fr;
    }
    .detail-card dl{grid-template-columns:1fr;
        gap:4px;
    }
    .detail-card dd{
        margin-bottom:15px;
    }
    h1,
    .page-heading h1,
    .form-card h1{
        font-size:2.5rem;
    }
}
